/* styles.css */

* {
	font-family: Arial;
}

.italianno-regular, h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
font-sizee: 3em;
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	backgroubd-image: url(../img/clock.png);
	cursor: crosshair; 
}

body{
	margin: 100px auto;
	width: 50%;
}
